.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
  flex-direction: column;
}

.form {
  display: flex;
  align-content: center;
  justify-content: center;
}

.lists {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}